<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
    <title>本の削除</title>
  </head>
  <body >
    <div class="box1">
      <h3>本の削除画面</h3>
      {% if error != null %}
      <p style="color: red">{{error}}</p>
      {% endif %}
      <form action="{{url_for('book_delete')}}" method="post">
        id:<input type="text" name="id" value="{{id}}"/required class="f1"><br />
        <button class="btn" type="submit">削除</button>
        <button class="btn" type="button" onclick="history.back()">戻る</button>
      </form>
    </div>
  </body>
</html>