<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
    <title>削除完了</title>
  </head>
  <body>
    <div class="box1">
      <h3>本の削除完了</h3>
      <li class="re"><a href="{{url_for('mypage')}}">TOPへ</a></li>
      <li class="re"><a href="{{url_for('book_delete_form')}}">続けて削除</a></li>
    </div>
  </body>
</html>