<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
    <title>ユーザ登録</title>
  </head>
  <body class="haikei">
    {% if error != null %}
    {% endif %}
    <div class="login-page">
      <div class="form">
        <p style="color: red">{{error}}</p>
        <form action="{{url_for('register_exe')}}" method="post" class="login-form">
          <input type="text" name="username" placeholder="username" value="{{user_name}}"/required>
          <input type="text" name="mail" placeholder="mail" value="{{mail}}"/required>
          <input type="password" name="password" placeholder="password" value="{{password}}" /required>
          <button type="submit">Sign up</button>
        </form>
      </div>
    </div>
    </form>
  </body>
</html>